<div class ="main_BucketAndContacts">
    <section class="containerProducts">
        <div class = "textcontainer">
            <p>Ваш заказ:</p>
            <ul>
                <li>Вино "Chateau Lafite Rothschild" - 1 бутылка</li>
                <li>Ликёр "JAGERMEISTER" - 3 бутылки</li>
            </ul>
            <p>Общая стоимость: 1400 рублей</p>
        </div>
        <form>
            <div class="form-group">
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name">
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
            </div>

            <div class="form-group">
                <label for="phone">Телефон:</label>
                <input type="tel" id="phone" name="phone">
            </div>

            <div class="form-group">
                <label for="address">Адрес:</label>
                <textarea id="address" name="address"></textarea>
            </div>

            <input type="submit" value="Оформить заказ">
        </form>
    </section>
</div>