<div class ="main_BucketAndContacts">
    <section class="containerProducts">
        <div class = "textcontainer">
            <h1>Контакты</h1>
            <p>Адрес: г. Минск, ул. Якуба Коласа, д. 28, к. 6.1</p>
            <p>Телефон: +375295841005</p>
            <p>E-mail: info@alcoholstore.ru</p>
            <h2>Обратная связь</h2>
            <form method="post" action="../check_message_and_email.php">
                <div class ="form-group">
                    <label for="name">Имя:</label>
                    <input type="text" id="name" name="name" required>
                    <br>
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" required>
                    <br>
                    <label for="message">Сообщение:</label>
                    <textarea id="message" name="message" rows="5" required></textarea>
                    <br>
                    <input type="submit" value="Отправить">
                </div>
            </form>
        </div>
    </section>
</div>