
<!-- begin: index.html.tmpl -->
<header>
    <div class="container">
        <div class="headerlogo">
            <img src="../images/Logo.png" alt="Логотип">
            <h1 class="logo">{{ title }}</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../index.php">Главная</a></li>
                <li><a href="../List.php">Каталог</a></li>
                <li><a href="../Bucket.php">Корзина</a></li>
                <li><a href="../Contacts.php">Контакты</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- end: index.html.tmpl -->