<!-- begin: index.html.tmpl -->
<div class="main">
	<section class="page-main">
		<div class="about_us">
			<div class="textcontainer">
				<h1>
					<p>Добро пожаловать</p>
					<p>в наш магазин алкогольной продукции "{{ title }}"!</p>
				</h1>
				<p>Мы предлагаем большой выбор</p>
				<p>алкогольных напитков по выгодным ценам.</p>
			</div>
		</div>
	</section>
	<section class="page-main-best">
		<div class="best_rec">
			<div class="textcontainer">
				<h1>Только качественные напитки!</h1>
				<p>Все напитки в нашем каталоге</p>
				<p>обладают поистне завораживающим, запоминающимся вкусом!</p>
				<p>Только у нас вы найдете</p>
				<p>самые качественные напитки со всего света!</p>
			</div>
		</div>
	</section>
</div>
<!-- end: index.html.tmpl -->